### NexSci / NASA Exoplanet Archive Info

- [TAP User Guide](https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html)
- [API Examples](https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html)
- [Table Schema](https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html)

Tables to pull from
- [PSCompPars](https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PSCompPars)

In [1]:
import requests

url = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync"
query = "select pl_name, pl_rade, pl_bmasse from pscomppars where pl_name='HD 108236 c'"
params = {"query": query, "format": "json"}

response = requests.get(url, params=params)
planet_data = response.json()

print(planet_data)

[{'pl_name': 'HD 108236 c', 'pl_rade': 2.071, 'pl_bmasse': 4.94}]

In [2]:
import pandas as pd
import requests
from io import StringIO

# Set up API request
url = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync"
query = "select hostname, pl_name, pl_rade, pl_bmasse, pl_orbper from pscomppars where sy_pnum > 3"
params = {"query": query, "format": "csv"}

# Make the request
response = requests.get(url, params=params)

# Read CSV content into DataFrame
df = pd.read_csv(StringIO(response.text))

print(df)

       hostname       pl_name  pl_rade  pl_bmasse  pl_orbper
0    Kepler-235  Kepler-235 e     2.22       5.56  46.183669
1    Kepler-279  Kepler-279 c     4.30      49.40  35.736000
2    Kepler-251  Kepler-251 d     2.77       8.10  30.133001
3      HD 23472    HD 23472 d     0.75       0.55   3.976640
4    Kepler-279  Kepler-279 d     3.10      37.50  54.414000
..          ...           ...      ...        ...        ...
537  Kepler-245  Kepler-245 d     3.03      21.60  36.277108
538  Kepler-186  Kepler-186 d     1.40       2.54  13.342996
539  Kepler-215  Kepler-215 b     1.62       3.26   9.360672
540  Kepler-245  Kepler-245 b     2.57     146.78   7.490190
541     KOI-351     KOI-351 c     1.19       1.81   8.719375

[542 rows x 5 columns]

In [3]:
# Sort and assign planet order
multi_df = df.sort_values(['hostname', 'pl_orbper'])
multi_df['planet_order'] = multi_df.groupby('hostname').cumcount() + 1

#Make a new column classifying each planet
def classify_planet(mass, radius):
    if mass is None or radius is None:
        return "Unknown"
    if mass < 2:
        if radius <= 1.6:
            return "Terrestrial"
        else:
            return "Low-mass Sub-Neptune"
    elif mass < 10:
        return "Super-Earth"
    elif mass < 30:
        return "Mini-Neptune"
    elif mass < 60:
        return "Neptune-like"
    elif mass < 300:
        return "Gas Giant"
    else:
        return "Brown Dwarf"

multi_df['pl_type'] = multi_df.apply(
    lambda row: classify_planet(row['pl_bmasse'], row['pl_rade']), axis=1
)

# Reformat columns
final_df = multi_df[['hostname', 'pl_name', 'planet_order', 'pl_orbper', 'pl_rade', 'pl_bmasse', 'pl_type']]

# Show results
print(f"Found {len(final_df)} planets in {final_df['hostname'].nunique()} multi-planet systems (more than 3 planets)")
print(final_df.head())

Found 542 planets in 122 multi-planet systems (more than 3 planets)
    hostname   pl_name  planet_order    pl_orbper  pl_rade  pl_bmasse  \
439   55 Cnc  55 Cnc e             1     0.736547    1.875     7.9900
344   55 Cnc  55 Cnc b             2    14.651600   13.900   263.9785
56    55 Cnc  55 Cnc c             3    44.398900    8.510    54.4738
345   55 Cnc  55 Cnc f             4   259.880000    7.590    44.8120
438   55 Cnc  55 Cnc d             5  5574.200000   13.000  1232.4930

          pl_type
439   Super-Earth
344     Gas Giant
56   Neptune-like
345  Neptune-like
438   Brown Dwarf

In [4]:
df_sorted = final_df.sort_values(['hostname', 'planet_order'])
# Combine the sequence of planet types for each system into one string
pattern_df = df_sorted.groupby('hostname')['pl_type'].apply(lambda x: ','.join(x)).reset_index()
pattern_df.rename(columns={'pl_type': 'planet_type_sequence'}, inplace=True)

print(pattern_df.head())

         hostname                               planet_type_sequence
0          55 Cnc  Super-Earth,Gas Giant,Neptune-like,Neptune-lik...
1  Barnard's star    Terrestrial,Terrestrial,Terrestrial,Terrestrial
2          DMPP-1   Super-Earth,Super-Earth,Super-Earth,Mini-Neptune
3         GJ 3293  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune
4        GJ 667 C  Super-Earth,Super-Earth,Super-Earth,Super-Eart...

In [5]:
pattern_counts = pattern_df['planet_type_sequence'].value_counts().reset_index()
pattern_counts.columns = ['planet_type_sequence', 'num_systems']

print(pattern_counts.head())

                                planet_type_sequence  num_systems
0    Super-Earth,Super-Earth,Super-Earth,Super-Earth           17
1  Super-Earth,Super-Earth,Super-Earth,Super-Eart...            7
2    Terrestrial,Super-Earth,Super-Earth,Super-Earth            6
3   Super-Earth,Super-Earth,Super-Earth,Mini-Neptune            4
4  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune            4

In [6]:
# Only show planet type sequences shared by more than one system
common_patterns = pattern_counts[pattern_counts['num_systems'] > 1]
print(common_patterns)

                                 planet_type_sequence  num_systems
0     Super-Earth,Super-Earth,Super-Earth,Super-Earth           17
1   Super-Earth,Super-Earth,Super-Earth,Super-Eart...            7
2     Terrestrial,Super-Earth,Super-Earth,Super-Earth            6
3    Super-Earth,Super-Earth,Super-Earth,Mini-Neptune            4
4   Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune            4
5   Terrestrial,Terrestrial,Super-Earth,Super-Eart...            3
6     Terrestrial,Terrestrial,Super-Earth,Super-Earth            3
7     Terrestrial,Super-Earth,Terrestrial,Terrestrial            2
8    Super-Earth,Mini-Neptune,Super-Earth,Super-Earth            2
9    Super-Earth,Super-Earth,Mini-Neptune,Super-Earth            2
10    Terrestrial,Super-Earth,Super-Earth,Terrestrial            2
11    Terrestrial,Terrestrial,Terrestrial,Terrestrial            2
12  Super-Earth,Super-Earth,Super-Earth,Super-Eart...            2
13    Terrestrial,Super-Earth,Terrestrial,Super-Earth            2

In [7]:
total = common_patterns['num_systems'].sum()
print(total)

58

In [8]:
df_with_common_patterns = pattern_df[pattern_df['planet_type_sequence'].isin(common_patterns['planet_type_sequence'])]
print(df_with_common_patterns[:50])
print(df_with_common_patterns.count())

          hostname                               planet_type_sequence
1   Barnard's star    Terrestrial,Terrestrial,Terrestrial,Terrestrial
2           DMPP-1   Super-Earth,Super-Earth,Super-Earth,Mini-Neptune
3          GJ 3293  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune
4         GJ 667 C  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
8        HD 108236  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
9        HD 110067  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
12       HD 158259  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
18        HD 20794    Super-Earth,Super-Earth,Super-Earth,Super-Earth
19       HD 215152    Terrestrial,Terrestrial,Super-Earth,Super-Earth
22         HD 3167   Super-Earth,Super-Earth,Mini-Neptune,Super-Earth
24        HD 40307  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
27          K2-133    Super-Earth,Super-Earth,Super-Earth,Super-Earth
29          K2-187    Terrestrial,Super-Earth,Super-Earth,Super-Earth
31          K2-268  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
32          K2-285  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune
33           K2-32   Super-Earth,Mini-Neptune,Super-Earth,Super-Earth
34          K2-384  Terrestrial,Terrestrial,Super-Earth,Super-Eart...
38      Kepler-100   Super-Earth,Super-Earth,Super-Earth,Mini-Neptune
39      Kepler-102  Terrestrial,Terrestrial,Super-Earth,Super-Eart...
40      Kepler-106  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune
41      Kepler-107  Super-Earth,Mini-Neptune,Super-Earth,Mini-Neptune
44      Kepler-132    Terrestrial,Super-Earth,Super-Earth,Terrestrial
45      Kepler-138    Terrestrial,Super-Earth,Super-Earth,Terrestrial
46     Kepler-1388    Super-Earth,Super-Earth,Super-Earth,Super-Earth
50     Kepler-1542    Terrestrial,Terrestrial,Terrestrial,Terrestrial
51      Kepler-164   Super-Earth,Super-Earth,Super-Earth,Mini-Neptune
53      Kepler-169  Terrestrial,Terrestrial,Super-Earth,Super-Eart...
54      Kepler-172    Super-Earth,Super-Earth,Super-Earth,Super-Earth
57      Kepler-197    Terrestrial,Super-Earth,Terrestrial,Terrestrial
58     Kepler-1987    Super-Earth,Super-Earth,Super-Earth,Super-Earth
61      Kepler-215   Super-Earth,Super-Earth,Mini-Neptune,Super-Earth
62      Kepler-220    Terrestrial,Super-Earth,Terrestrial,Super-Earth
63      Kepler-221    Super-Earth,Super-Earth,Super-Earth,Super-Earth
64      Kepler-223    Super-Earth,Super-Earth,Super-Earth,Super-Earth
65      Kepler-224    Super-Earth,Super-Earth,Super-Earth,Super-Earth
66      Kepler-235    Super-Earth,Super-Earth,Super-Earth,Super-Earth
70      Kepler-251    Super-Earth,Super-Earth,Super-Earth,Super-Earth
71      Kepler-256    Super-Earth,Super-Earth,Super-Earth,Super-Earth
72       Kepler-26    Terrestrial,Super-Earth,Super-Earth,Super-Earth
73      Kepler-265    Super-Earth,Super-Earth,Super-Earth,Super-Earth
76      Kepler-286    Super-Earth,Super-Earth,Super-Earth,Super-Earth
78      Kepler-292  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
79      Kepler-296  Super-Earth,Super-Earth,Super-Earth,Super-Eart...
80      Kepler-299    Super-Earth,Super-Earth,Super-Earth,Super-Earth
81      Kepler-304    Terrestrial,Super-Earth,Super-Earth,Super-Earth
82      Kepler-305   Super-Earth,Mini-Neptune,Super-Earth,Super-Earth
83      Kepler-306    Super-Earth,Super-Earth,Super-Earth,Super-Earth
88      Kepler-341    Terrestrial,Super-Earth,Super-Earth,Super-Earth
89      Kepler-342    Terrestrial,Super-Earth,Super-Earth,Super-Earth
90       Kepler-37    Terrestrial,Terrestrial,Super-Earth,Super-Earth
hostname                58
planet_type_sequence    58
dtype: int64

In [9]:
import json

# Create a list to write to JSON via json.dump(). It will be a list of planet patterns.
data = []
patternNumber = 1

#Create a list of patterns
for p in common_patterns['planet_type_sequence']:
    # Construct inner dictionary
    patternProperties = {
        "name" : f"Pattern #{patternNumber}",
        "pattern" : p.split('>'), # Key is pattern name, value is an ordered list of the planet categories, made by splitting the sequence string
        "hostnames" : df_with_common_patterns[df_with_common_patterns['planet_type_sequence'] == p]['hostname'].tolist(), # Which star systems have this pattern
        "hostname_count": common_patterns[common_patterns['planet_type_sequence'] == p]['num_systems'].tolist()
    }

    data.append({f"pattern_{patternNumber}": patternProperties})
    patternNumber += 1

# Write to a JSON file
filename = "PatternData_NexSci.json"
with open(filename, 'w') as f:
   json.dump(data, f, indent=2)

In [10]:
import json

# Create a list to write to JSON via json.dump(). It will be a list of star systems, including planets.
star_system_data = {}

#Create a list of star systems
for star in df_with_common_patterns['hostname']:
    # Construct inner dictionaries

    planet_names = final_df[final_df['hostname'] == star]['pl_name'].tolist()
    planets = []
    for planet_name in planet_names:
        planet = {
            "name" : planet_name,
            "radius" : final_df[final_df['pl_name'] == planet_name]['pl_rade'].tolist(), # in Earth Radii 
            "mass" : final_df[final_df['pl_name'] == planet_name]['pl_bmasse'].tolist(), # in Earth Masses
            "orbital_period" : final_df[final_df['pl_name'] == planet_name]['pl_orbper'].tolist(),
            "category": final_df[final_df['pl_name'] == planet_name]['pl_type'].tolist(),
            "order": final_df[final_df['pl_name'] == planet_name]['planet_order'].tolist(),
        }
        planets.append(planet)

    star_system_Properties = {
        #"hostname" : star, # Star name
        "planets": planets
    }

    star_system_data[star] = star_system_Properties

# Write to a JSON file
filename = "StarSystemData_NexSci.json"
with open(filename, 'w') as f:
   json.dump(star_system_data, f, indent=2)